div {
border: solid 1px black;
height: 454px;
width: 400px;
margin-left: 30%;
margin-top: 12%;
background-color: gray;
}
.box{
    height: 39px;
    width: 238px;
    margin-top: 4%;
    margin-left: 14%;
}

#button1{
    margin-left: 15%;
    margin-top: 13%;
}
#button2{
    margin-left: 12%;
    margin-top: 13%;
}
#button3{
    margin-left: 12%;
    margin-top: 13%;
}
#button4{
    margin-left: 12%;
    margin-top: 13%;
}
#button5{
    margin-left: 15%;
    margin-top: 13%;
}
#button6{
    margin-left: 13%;
    margin-top: 13%;
}
#button7{
    margin-left: 11%;
    margin-top: 13%;
}
#button8{
    margin-left: 13%;
    margin-top: 13%;
}
#button9{
    margin-left: 15%;
    margin-top: 13%;
}
#button10{
    margin-left: 13%;
    margin-top: 13%;
}
#button11{
    margin-left: 11%;
    margin-top: 13%;
}
#button12{
    margin-left: 13%;
    margin-top: 13%;
}
#button13{
    margin-left: 15%;
    margin-top: 13%;
}
#button14{
    margin-left: 14%;
    margin-top: 13%;
}
#button15{
    margin-left: 12%;
    margin-top: 13%;
}
#button16{
    margin-left: 12%;
    margin-top: 13%;
}
#button17{
    margin-left: 81%;
    margin-top: -194%;
}